@mixin button {
    background-color: rgb(221, 0, 0);
    height: 32px;
    width: 153px;
    border: none;
    color: white;
    font-weight: 600;
    font-size:small;
    border-radius: 8px;
    transition: all 0.1s;
    
}

button:hover {
    background-color: rgb(187, 0, 0);
    transition: all 0.1s;
}


.run{
    height: 650px;
    width: 100%;
    background-image: url(../img/bg.png);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 21px 0 0 0 ;

}
.menu_block{
    height: 54px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.menu{
    height: 54px;
    width: 982px;
    display: flex;
    justify-content: space-between;

    &_comlogo{
        height: 45px;
        width: 251px;
        background-image:url(../img/лого.png)
    }
    &_member{
        text-align: center;
        color: white;
        font-weight: 500;

        .member_spltext{
            
            font-weight: 400;
        }
    }
    &_callus{
        color:white;
        display: flex;
        flex-direction: column;
        font-weight: 700;

        &_button{
            @include button;
        }

    }
}
.header{
    display: flex;
    width: 1020px;
    
    .container{
        .row{
            flex-direction: column;
            align-items: flex-end;
            padding-right: 0;

            #ftext{
                
                .htext1{
                    text-transform:uppercase;
                    text-align: end;
                    color: white;
                    font-size: 300%;

                }

                .subtext{
                    color: white;
                    font-size: 59%;
                    font-weight: 400;
                   
                }
            }
            #ftext2{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                color: white;
            }

            .order_catalog{
                color: white;
                    
                    
            }
           
            .subimg{
                margin-top: 60px;
                margin-bottom: 60px;
                height: 96px ;
                width: 424px;
            }
          
        }
    }

    .order_button{
        @include button;
        height: 54px;
        width: 303px;
        font-size: medium;
    }
    .order_button:hover{
        background-color: rgb(187, 0, 0);
        transition: all 0.1s;
    }
    
}