@charset "UTF-8";
.run {
  height: 650px;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 21px 0 0 0;
}

.menu_block {
  height: 54px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  height: 54px;
  width: 982px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_comlogo {
  height: 45px;
  width: 251px;
  background-image: url(../img/лого.png);
  background-repeat: no-repeat;
}

.menu_member {
  text-align: center;
  color: white;
  font-weight: 500;
}

.menu_member .member_spltext {
  font-weight: 400;
}

@media screen and (max-width: 595px) {
  .menu_member {
    font-size: 0%;
  }
}

.menu_callus {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
}

.menu_callus_button {
  background-color: #dd0000;
  height: 32px;
  width: 153px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: small;
  border-radius: 8px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.menu_callus_button:hover {
  background-color: #bb0000;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

@media screen and (max-width: 413px) {
  .menu {
    height: auto;
    width: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu_callus {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .menu_block {
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1020px;
}

.header .container .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 0;
}

.header .container .row #ftext .htext1 {
  text-transform: uppercase;
  text-align: end;
  color: white;
  font-size: 300%;
}

@media screen and (max-width: 779px) {
  .header .container .row #ftext .htext1 {
    font-size: 220%;
  }
  .header .container .row #ftext .subtext {
    font-size: 50%;
  }
}

.header .container .row #ftext .subtext {
  color: white;
  font-size: 59%;
  font-weight: 400;
}

.header .container .row #ftext2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: white;
}

.header .container .row .order_catalog {
  color: white;
}

.header .container .row .subimg {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 424px;
}

.header .order_button {
  background-color: #dd0000;
  height: 32px;
  width: 153px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: small;
  border-radius: 8px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  height: 54px;
  width: 303px;
  font-size: medium;
}

.header .order_button:hover {
  background-color: #bb0000;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  background-color: white;
}

.category #category_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0 0 0;
}

.category_img {
  height: 65px;
  width: 70px;
  margin: 40px 0 15px 0;
}

.category_text {
  max-width: 280px;
  padding: 0 15px 0 15px;
}

.category_text_header {
  font-size: 150%;
  font-weight: 700;
  margin: 0 0 0px 0;
}

.category_text_header_link {
  color: red;
}

.category_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.category #category_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */